@import 'styles';
@import 'mixins/fonts';

main {
    .first-section {

        background:
            linear-gradient(rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.418)),
            url('https://t3.ftcdn.net/jpg/01/09/71/02/360_F_109710230_VT6znd8W0KxZHjcWs54uBkMLb7spV1Oq.jpg');
        background-size: cover;

        .container {
            min-height: 100vh;
            padding: 0rem 1rem;
            padding-top: 200px;
            color: #ffffff;

            .contents {

                .header {
                    @include header-font;
                    font-size: 3.5rem;
                }

                @media (min-width: 990px) {
                    .header {
                        @include header-font;
                        font-size: 6.5rem;
                    }
                }

                .subtitle {
                    @include tagline;
                    font-size: 1.5rem;
                }

                @media (min-width: 990px) {
                    .subtitle {
                        @include tagline;
                        font-size: 2.5rem;
                    }
                }

            }

        }
    }
}

// second content
